textarea {
  width: 100%;
  height: 150px;
  background-color: white;
  font-size: 2em;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border: 1px solid black;
}

button {
  margin-left: 2px;
  margin-right: 2px;
}
div.row{
  width: 100%;
  padding: 1em;
}
div.constraintColumn{
  width: 350px;
  margin-top: 1em;
}
div.canvasColumn {
  width: 800px;
}
canvas{
  width: inherit;
  height: 640px;
}
div.dialog{
  width: inherit;
  padding: 1rem;
  margin: 1px;
  text-align: center;
  font-size: x-large;
  background: green;
}
div.constraint{
  padding: 2px;
  margin-left: 1px;
  margin-right: 1px;
  width: max-content;
  visibility: hidden;
}

.cover-container {
  height: 100vh;
}
