<nb-card-body>
  <p>
    Congratulations! You've just been hired as a Quality Assurance Inspector to test the latest in home innovation:
    The BakeBot 5000!  Unfortunately, you suspect the software development team has naively assumed users would only
    enter meaningful input.  Try using the BakeBot 5000, and see if you can find a vulnerability in its programming.
  </p>
  <div class="row">

    <div class="canvasColumn">
      <canvas id="robot"></canvas>
      <nb-alert id="welcomeAlert" status="primary" closable (close)="onCloseWelcome()" [hidden]="hideWelcome">
        {{welcomeMsg}}
      </nb-alert>
      <nb-alert id="badAlert" status="danger" closable (close)="onCloseBad()" [hidden]="hideBad">{{badDialogText}}</nb-alert>
      <nb-alert id="successAlert" status="success" closable (close)="onCloseSuccess()" [hidden]="hideSuccess">
        {{successMsg}}
      </nb-alert>
      <div>
        <button nbButton (click)="insertCakeRecipe()">Cake Recipe</button>
        <button nbButton (click)="insertBreadRecipe()">Bread Recipe</button>
        <button nbButton (click)="insertBiscuitRecipe()">Biscuit Recipe</button>
      </div> <!-- end recipe button div -->
      <!-- Recipe algorithm will be added in this spot -->
      <textarea nbInput fullWidth
                rows="20"
                placeholder="Enter recipe here"
                id="recipe_input"></textarea>

      <button nbButton (click)="parseInput()">Bake it!</button>
    </div>
    <div class="constraintColumn" id="constraints">
      <div class="dialog" id="dialogBox" [hidden]="hideConstraintLabel">Input Constraints:</div>
      <!-- Constraints here -->
      <div class="constraint" id="maxTime">
        <label for="maxTimeInput">Enter maximum baking time:</label>
        <input nbInput type=number placeholder="Maximum Time" id="maxTimeInput">
      </div>
      <div class="constraint" id="minTime">
        <label for="minTimeInput">Enter minimum baking time:</label>
        <input nbInput type=number placeholder="Minimum Time" id="minTimeInput">
      </div>
      <div class="constraint" id="maxTemp">
        <label for="maxTempInput">Enter maximum temperature:</label>
        <input nbInput type=number placeholder="Maximum Temp" id="maxTempInput">
      </div>
      <div class="constraint" id="minTemp">
        <label for="minTempInput">Enter minimum temperature:</label>
        <input nbInput type=number placeholder="Minimum temp" id="minTempInput">
      </div>
      <div class="constraint" id="maxIngredient">
        <label for="maxIngredientInput">Enter max amount of ingredient:</label>
        <input nbInput type=number placeholder="Max Ingredient" id="maxIngredientInput">
      </div>
      <div class="constraint" id="minIngredient">
        <label for="minIngredientInput">Enter min amount of ingredient:</label>
        <input nbInput type=number placeholder="Min Ingredient" id="minIngredientInput">
      </div>
      <div class="constraint" id="maxWater">
        <label for="maxWaterInput">Enter max amount of water:</label>
        <input nbInput type=number placeholder="Max Water" id="maxWaterInput">
      </div>
      <div class="constraint" id="illegalIngredient">
        <label for="illegalIngredientInput">Enter list of banned ingredients:</label>
        <input nbInput type=text placeholder="Illegal ingredients" id="illegalIngredientInput">
      </div>
      <div class="dialog" [hidden]="!win">
        {{winner}}
        <img alt="Anonymized data header image" src="assets/images/blue_ribbon.png">
      </div>
<!--      <nb-alert status="success" [hidden]="!win">-->
<!--      {{winner}}-->
<!--    </nb-alert>-->
    </div><!-- end constraint div -->
  </div>
</nb-card-body>
