<nb-card-body>
  <p>
    Congratulations! You've just been hired as a Quality Assurance Inspector to test the latest in home innovation:
    The BakeBot 5000!  Unfortunately, you suspect the software development team has naively assumed users would only
    enter meaningful input.  Try using the BakeBot 5000, and see if you can find a vulnerability in its programming.
  </p>
  <p>
    To use the BakeBot 5000, enter a list of ingredients, followed by the baking time and oven temperature.
    There are a few pre-programmed recipes for newcomers!
  </p>
  <div class="d-flex flex-wrap justify-content-center" style="flex-direction: row">

    <div class="flex-column col-sm-12 col-md-9 col-lg-8" style="max-width: 1024px">
      <img alt="BakeBot 5000" src="assets/images/robot/bakebot5000.jpg" id="robot">
      <nb-alert id="welcomeAlert" status="primary" closable (close)="onCloseWelcome()" [hidden]="hideWelcome">
        {{welcomeMsg}}
      </nb-alert>
      <nb-alert id="badAlert" status="danger" closable (close)="onCloseBad()" [hidden]="hideBad">{{badDialogText}}</nb-alert>
      <nb-alert id="successAlert" status="success" closable (close)="onCloseSuccess()" [hidden]="hideSuccess">
        {{successMsg}}
      </nb-alert>
      <div class="row justify-content-around">
        <button nbButton (click)="insertCakeRecipe()">Cake Recipe</button>
        <button nbButton (click)="insertBreadRecipe()">Bread Recipe</button>
        <button nbButton (click)="insertBiscuitRecipe()">Biscuit Recipe</button>
      </div><!-- end recipe button div -->
      <!-- Recipe algorithm will be added in this spot -->

    </div>
    <div class="flex-column col-sm-12 col-md-3 col-lg-4" id="constraints">
      <div class="dialog" id="dialogBox" [hidden]="hideConstraintLabel">Input Constraints:</div>
      <!-- Constraints here -->
      <div class="constraint" id="maxTime" [hidden]="!Constraint.hasMaxTimeConstraint">
        <label for="maxTimeInput">Enter maximum baking time:</label>
        <input nbInput type=number placeholder="Maximum Time" id="maxTimeInput">
      </div>
      <div class="constraint" id="minTime" [hidden]="!Constraint.hasMinTimeConstraint">
        <label for="minTimeInput">Enter minimum baking time:</label>
        <input nbInput type=number placeholder="Minimum Time" id="minTimeInput">
      </div>
      <div class="constraint" id="maxTemp" [hidden]="!Constraint.hasMaxTempConstraint">
        <label for="maxTempInput">Enter maximum temperature:</label>
        <input nbInput type=number placeholder="Maximum Temp" id="maxTempInput">
      </div>
      <div class="constraint" id="minTemp" [hidden]="!Constraint.hasMinTempConstraint">
        <label for="minTempInput">Enter minimum temperature:</label>
        <input nbInput type=number placeholder="Minimum temp" id="minTempInput">
      </div>
      <div class="constraint" id="maxIngredient" [hidden]="!Constraint.hasMaxIngredientConstraint">
        <label for="maxIngredientInput">Enter max amount of ingredient:</label>
        <input nbInput type=number placeholder="Max Ingredient" id="maxIngredientInput">
      </div>
      <div class="constraint" id="minIngredient" [hidden]="!Constraint.hasMinIngredientConstraint">
        <label for="minIngredientInput">Enter min amount of ingredient:</label>
        <input nbInput type=number placeholder="Min Ingredient" id="minIngredientInput">
      </div>
      <div class="constraint" id="maxWater" [hidden]="!Constraint.hasMaxWaterConstraint">
        <label for="maxWaterInput">Enter max amount of water:</label>
        <input nbInput type=number placeholder="Max Water" id="maxWaterInput">
      </div>
      <div class="constraint" id="approvedIngredient" [hidden]="!Constraint.hasPoisonConstraint">
        <label for="approvedIngredientInput">Enter list of approved ingredients:</label>
        <input nbInput type=text placeholder="Approved ingredients" id="approvedIngredientInput">
      </div>
      <div class="dialog" [hidden]="!win">
        {{winner}}
        <br>
        <img alt="Anonymized data header image" src="assets/images/blue_ribbon.png" style="max-width: 200px">
      </div>
    </div><!-- end constraint div -->
  </div>
  <div class="column" style="max-width: 600px; justify-content: center">
  <textarea nbInput fullWidth
            rows="20"
            placeholder="Enter recipe here"
            id="recipe_input"></textarea>

  <button nbButton (click)="parseInput()">Bake it!</button>
  </div>
</nb-card-body>
