<div class="d-flex flex-wrap">
  <nb-card class="flex-column mr-sm-4  col">
    <nb-card-body>
      <ng-content select="[headerImage]"></ng-content>
    </nb-card-body>
  </nb-card>

  <nb-card class="flex-column col-sm-7 col-xs-12">
    <nb-card-header>
      <h2>Check Understanding</h2>
    </nb-card-header>
    <nb-card-body>
      <ng-content select="[check]"></ng-content>

      <app-quiz [questions]="questions">
        <div quiz >
        </div>
      </app-quiz>

    </nb-card-body>
  </nb-card>
</div>
