<nb-card accent="primary">
  <nb-card-header>
    <h1>
      <ng-content select="[title]"></ng-content>
    </h1>
  </nb-card-header>
</nb-card>

<div class="d-flex flex-wrap">
  <nb-card class="flex-column mr-sm-4 col-sm-7 col-xs-12"> <!-- col-7-->
    <nb-card-header>
      <h2>Overview</h2>
    </nb-card-header>
    <nb-card-body>
      <ng-content select="[intro]"></ng-content>
    </nb-card-body>
  </nb-card>

  <nb-card class="flex-column col">
    <nb-card-body>
      <ng-content select="[headerImage]"></ng-content>
    </nb-card-body>
  </nb-card>
</div>
