<app-lab-overview>
  <span title>Keeping a process secret is vital to its security</span>
  <div intro>
    Victims of this misconception believe security by obscurity is a valid strategy. It is better to use a public
    process that’s robust against attacks. This doesn’t mean there can’t be any secrets in the process. Rather, it means
    that the secrets are separated from the process, so someone observing the process won’t be able to get the secrets.
    For example, writing a “secret” encryption algorithm and using that along with keys is not as secure a process as
    using a public and robust algorithm and keeping the keys separate.
  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/20130326163535-0_0.jpg">
    <figcaption>
      <a href="http://news.mit.edu/2013/how-hard-it-de-anonymize-cellphone-data" target="_blank">
        Photo: Christine Daniloff/MIT
      </a>
    </figcaption>
  </figure>
</app-lab-overview>

<nb-card>
  <nb-card-body>
    <nb-stepper #stepper>
      <nb-step label="First step">
        <form class="step-container">
          <p class="lorem">
            You are a hacker that is trying to hack into someones bank account to transfer all their money.

            You know the user name of a rich guy.
            Username: igotmoney99</p>
          <p> Try and find his password. </p>

          <button nbButton nbStepperNext>next</button>
        </form>
      </nb-step>
      <nb-step label="Second step">
        <form class="step-container">
          <p class="lorem">
            Pellentesque we gonna chung tortor.
            Sizzle pizzle. Fizzle izzle dolor dapibus fo shizzle mah nizzle fo rizzle, mah home g-dizzle tempus tempor.
            Maurizzle cool nibh owned turpizzle. My shizz fo shizzle tortor.
          </p>

          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>next</button>
        </form>
      </nb-step>
      <nb-step label="Third step">
        <form class="step-container">
          <p class="lorem">
            Things boom shackalack rhoncus yo. In fo shizzle my nizzle gangsta platea dictumst. Check it out pot.
          </p>

          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>Confirm</button>
        </form>
      </nb-step>
      <nb-step label="Third step">
        <div class="step-container">
          <h3>Wizard completed!</h3>
          <button nbButton (click)="stepper.reset()">Try again</button>
        </div>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>


<div class="row">
  <div class="col-6">
    <nb-card>
      <nb-card-header>Message Text</nb-card-header>
      <nb-card-body>
        <textarea (ngModelChange)="updateCiphertext()" [(ngModel)]="plaintext" class="text-monospace" fullWidth
                  name="Plain Text" nbInput
                  style="resize: none;"></textarea>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-6">
    <nb-card>
      <nb-card-header>Ciphertext</nb-card-header>
      <nb-card-body>
        <select (ngModelChange)="updateCiphertext()" [(ngModel)]="selectedCipher" class="select-button"
                name="Selected algorithm">
            <option *ngFor="let cipher of ciphers">{{cipher}}</option>
          </select>
        <textarea [(ngModel)]="ciphertext" class="text-monospace" disabled fullWidth name="Enciphered text" nbInput
                  style="resize: none;"></textarea>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header>Letter Frequency Analysis</nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="row">
            <div class="col-6">
              <nb-card>
                <nb-card-header>Message Text</nb-card-header>
                <nb-card-body>
                  <table class="table">
                    <thead>
                    <tr>
                      <th scope="col">Letter</th>
                      <th scope="col">Frequency</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let char of plainTable" [attr.bgcolor]="getColor(char[1], maxplain)">
                      <td scope="row">{{char[0]}}</td>
                      <td>{{char[1]}}</td>
                    </tr>
                    </tbody>
                  </table>
                </nb-card-body>
              </nb-card>
            </div>
            <div class="col-6">
              <nb-card>
                <nb-card-header>Cipher Text</nb-card-header>
                <nb-card-body>
                  <table class="table">
                    <thead>
                    <tr>
                      <th scope="col">Letter</th>
                      <th scope="col">Frequency</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let char of cipherTable" [attr.bgcolor]="getColor(char[1], maxcipher)">
                      <td scope="row">{{char[0]}}</td>
                      <td>{{char[1]}}</td>
                    </tr>
                    </tbody>
                  </table>
                </nb-card-body>
              </nb-card>
            </div>

          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>
