<app-lab-overview>
  <span title>Defense in depth is a waste of resources</span>
  <div intro>
    People who hold this misconception think that a single defense is sufficient. However, relying on a single
    perimeter (or other) defense makes that defense a single point of failure. Since nothing is completely
    secure, it’s possible that defense will fail, in which case there will be no other security mechanisms. In contrast,
    defense in depth means having multiple overlapping layers of security. By having defense in depth, a single
    layer defense failing doesn’t mean the whole system is compromised -- hopefully an additional defense will
    still provide protection.
  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/20130326163535-0_0.jpg">
    <figcaption>
      <a href="http://news.mit.edu/2013/how-hard-it-de-anonymize-cellphone-data" target="_blank">
        Photo: Christine Daniloff/MIT
      </a>
    </figcaption>
  </figure>
</app-lab-overview>

<app-lab-industry>
  <div industry>
    <p>
      Castles and moats.
    </p>
  </div>
</app-lab-industry>

<app-lab-activity>
  <div activity>
    <p>Play some D&D.</p>
  </div>
</app-lab-activity>

<app-lab-relevance>
  <div relevance>

    <p>
      <a href="http://cve.mitre.org" target="_blank"> Common Vulnerabilities and Exposures CVE </a>
    </p>

  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/jon-moore-bBavss4ZQcA-unsplash.jpg">
    <figcaption>
      <a href="https://unsplash.com/@thejmoore" target="_blank">
        Photo: Jon Moore on Unsplash
      </a>
    </figcaption>
  </figure>
</app-lab-relevance>


<app-lab-check [questions]="questions">
  <div check customize=SecurityproductQuestion[]>
  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/zhen-hu-Fhz5QhZmn_M-unsplash.jpg">
    <figcaption>
      <a href="https://unsplash.com/@zhenhu2424" target="_blank">
        Photo: Zhen Hu on Unsplash
      </a>
    </figcaption>
  </figure>
</app-lab-check>
