<nb-card>
  <nb-card-body>
    <h1>{{message}}</h1>
  </nb-card-body>
</nb-card>

<nb-card style="height: auto">
  <nb-card-body >

    <div class="row">
      <div class="col" style="background-color:white;">
        <h4>Overview</h4>
        <div>
          People who hold this misconception think that a single defense is sufficient. However, relying on a single perimeter (or other) defense makes that defense a single point of failure. Since nothing is completely secure, it’s possible that defense will fail, in which case there will be no other security mechanisms. In contrast, defense in depth means having multiple overlapping layers of security. By having defense in depth,  a single layer defense failing doesn’t mean the whole system is compromised -- hopefully an additional defense will still provide protection.          </div>
      </div>
      <div class="col">
        <img src="../../assets/images/Strong%20physical%20security_Blog.png" class="img-fluid">
      </div>
    </div>


  </nb-card-body>
</nb-card>

