<app-lab-overview>
  <span title>Defense in depth is a waste of resources</span>
  <div intro>
    People who hold this misconception think that a single defense is sufficient. However, relying on a single
    perimeter (or other) defense makes that defense a single point of failure. Since nothing is completely
    secure, it’s possible that defense will fail, in which case there will be no other security mechanisms. In contrast,
    defense in depth means having multiple overlapping layers of security. By having defense in depth, a single
    layer defense failing doesn’t mean the whole system is compromised -- hopefully an additional defense will
    still provide protection.
  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/20130326163535-0_0.jpg">
    <figcaption>
      <a href="http://news.mit.edu/2013/how-hard-it-de-anonymize-cellphone-data" target="_blank">
        Photo: Christine Daniloff/MIT
      </a>
    </figcaption>
  </figure>
</app-lab-overview>

<div class="row">
  <div class="col-9">
    <nb-card>
      <nb-card-body>
        <h2>Why is it important? </h2>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body>
        <h2>Example: </h2>
        Bank analogy
        <h2>Realworld: </h2>
        <p>On blah blah blah some one did blah</p>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-3">
    <nb-card class="h-auto">
      <nb-card-header>
        Contents
      </nb-card-header>
    </nb-card>
  </div>
</div>
