<app-lab-overview>
  <span title>I can trust people to keep my security interests in mind</span>
  <div intro>
    People who hold this misconception trust that users or other “upstream” data sources will only provide harmless
    input. Users - either purposely or just through chance - may provide input that breaks the expected flow of the
    program. However, instead of trusting input, if input is treated as malicious “until proven innocent” by validating
    and sanitizing it before use, dangerous input cannot cause bad outcomes. Additionally, because of this process,
    normal users with unusual input are likely to get a better experience, as the program will always perform as
    expected.
  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/20130326163535-0_0.jpg">
    <figcaption>
      <a href="http://news.mit.edu/2013/how-hard-it-de-anonymize-cellphone-data" target="_blank">
        Photo: Christine Daniloff/MIT
      </a>
    </figcaption>
  </figure>
</app-lab-overview>

<p>
  users-are-not-malicious works!
</p>
