textarea {
  width: 280px;
  height: 150px;
  background-color: white;
  font-size: 2em;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border: 1px solid black;
}

button {
  margin-left: 1em;
  margin-right: 1em;
}
div.row{
  width: max-content;
  padding: 1em;
}
div.column{
  width: 800px;
}

div.constraint{
  padding: 1px;
  margin-left: 1px;
  margin-right: 1px;
  width: max-content;
  visibility: hidden;
}
