textarea {
  width: 300px;
  height: 100px;
  background-color: white;
  font-size: 2em;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border: 1px solid black;
}

div.row{
  width: max-content;
}
div.column{
  width: 800px;
}
