textarea {
  width: 300px;
  height: 150px;
  background-color: white;
  font-size: 2em;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border: 1px solid black;
}

button {
  margin: 1em;
}
div.row{
  width: max-content;
  padding: 1em;
}
div.column{
  width: 800px;
}
