<meta name="viewport" content="width=device-width, initial-scale=1.0">
<app-lab-overview>
  <span title>I can trust people to keep my security interests in mind</span>
  <div intro>
    <p>A classic mistake that programmers often make is to assume that people will only use their systems as the
      programmers expect them to. This assumption allows programmers to ignore issues that could arise from a system
      being used in an unexpected way. Unfortunately, this is a dangerous assumption. In reality, not all users are
      benevolent or act in good faith; some of them are actively malicious, looking for ways to exploit systems for
      their own benefit. Some users are unauthorized, perhaps having gained access to the system through another
      vulnerability, but sometimes authorized users have bad intentions (this is also known as an “insider attack”).
      Additionally, sometimes users are acting in good faith, but do things that the programmer did not anticipate,
      resulting in unexpected outcomes that can leak or corrupt data, damage hardware, deny service, or have other
      negative effects.
    </p>
    <p>
      The solution to this problem is well-known, and takes the form of input validation and input sanitization.
      Input validation is making sure that input matches a required form or type. For example, ensuring that input
      meant to be a number is composed only of digits and not any other symbols. Input sanitization takes valid input
      and ensures that the input cannot do anything malicious or undesired. For example, input sanitization for an
      online “comment section” is responsible for making sure that HTML entered into a comment is shown as HTML in the
      comment, and not interpreted as HTML, which would modify the web page.
    </p>
  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/20130326163535-0_0.jpg">
    <figcaption>
      <a href="http://news.mit.edu/2013/how-hard-it-de-anonymize-cellphone-data" target="_blank">
        Photo: Christine Daniloff/MIT
      </a>
    </figcaption>
  </figure>
</app-lab-overview>

<app-lab-industry>
  <div industry>
<!--      Examples of this misconception in the wild.-->

    <h5> Code Injection </h5>
    <p>
      Code Injection is a broad category of attacks that involve an attacker entering executable code in an input field
      where code should never exist.
    </p>
    <p>
      In an old-school attack known as <b>SQL Injection</b>, users purposefully paste a block of SQL code into an input
      field where a developer would never expect code to exist.  The result might leak some secret data from an SQL
      database, illegally insert data, or delete data.  This <a href="https://xkcd.com/327/" target="_blank">
      XKCD comic </a> explores how user input can destroy a database.
      For further reading here is an <a
      href="https://www.explainxkcd.com/wiki/index.php/Little_Bobby_Tables" target="_blank"> explanation</a> of the
      XKCD comic.
    </p>
    <p>
      Another classic example of code injection is a <b>Cross-Site Scripting</b> (XSS) attack.  An XSS attack could
      permanently embed executable code within a server, which would execute whenever someone requests a page from the
      server, or it could be a piece of code within a request that "bounces" off the server.  The former is called a <b>
      persistent</b> attack, and the latter is called a <b>reflected</b> attack.
    </p>
    <p>
      Back in the days of MySpace, a 20-year-old named Samy Kamkar launched a successful cross-site scripting attack
      known as the "Samy Worm," which created a pop-up saying "but most of all, Samy is my hero" and automatically sent
      Samy a friend request.  While the vulnerability lay within web browsers, MySpace took most of the heat and
      eventually found a way to patch the bug themselves.  Samy released an explanation of the exploit, which is archived <a
      href="https://web.archive.org/web/20160305044015/http://samy.pl/popular/tech.html" target="_blank">here</a>.
    </p>
    <h5> Buffer Overflow </h5>
    <p>
      In a buffer overflow attack, a user exploits the limited size of memory given to a function.  When the code within
      a function finishes running, it tells the program where the next piece of code is using a return address.
      If a user enters more input than the function can hold, the program will start writing over other code that it needs,
      including the return address.  If a user places a block of executable code in an input field that is longer than
      the input field should hold, they could write over the return address.  If they rewrite the return address to point
      to the beginning of their executable code input, the computer will execute everything the user wrote!  Read more
      about buffer overflows <a href="https://medium.com/@amannagpal4/buffer-overflow-attack-and-its-evolution-519db3c396ad"
         target="_blank">here</a>, or check out <a href="https://www.youtube.com/watch?v=1S0aBV-Waeo" target="_blank">
      Computerphile's video</a> on buffer overflows if you want to see a live demonstration.
    </p>
    <h5> Input Validation </h5>
    <p>
      In 2007, researchers found a bug in a C++ library that could cause a server to crash.  A normal HTTP request to a
      server will specify what version of HTTP the server should use to respond to the client.  The C++ library checked
      that the HTTP version number was valid, but it did not check that the version number <i>existed</i>.  If a client
      sent a request without an HTTP version number, the server would crash!  Input validation should not only check
      that the input is of the correct type.  It should also check that input exists.  You can read about this
      vulnerability on the <a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2007-5893" target="_blank">
      National Vulnerability Database</a>.
    </p>
  </div>
</app-lab-industry>

<app-lab-activity>
  <div activity>
    <!-- <p>
    In this activity, you play the role of a user of a fabulous new android, the BakeBot 5000 -- a robot capable of
    parsing recipes written in a special language and baking splendiferous comestibles. Unfortunately, the original
    developer of the BakeBot made the assumption that, since people would never ask BakeBot to do anything weird, the
    developer didn’t need to protect BakeBot from any kind of edge cases resulting from malicious or unexpected input.
    Your task is to find all the ways that BakeBot can be misused. Each time you find something bad that BakeBot can
    do, you can set a constraint that is used to make sure that BakeBot’s input fits within the required parameter.
    Once you’ve found all the edge cases and set all the constraints, you’ve completed the activity!
    </p> -->
    <app-bakebot></app-bakebot>
  </div>
</app-lab-activity>

<app-lab-relevance>
  <div relevance>

    <p>
      <a href="http://cve.mitre.org" target="_blank"> Common Vulnerabilities and Exposures CVE </a>
    </p>

  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/jon-moore-bBavss4ZQcA-unsplash.jpg">
    <figcaption>
      <a href="https://unsplash.com/@thejmoore" target="_blank">
        Photo: Jon Moore on Unsplash
      </a>
    </figcaption>
  </figure>
</app-lab-relevance>

<app-lab-debrief>
  <div debrief>
    Users sometimes act very differently from how you would expect.  Many will make careless mistakes when using your
    software, or misunderstand how to use it. Some will be malicious insiders acting in bad faith. Some “users” will
    actually be attackers using stolen accounts, looking for ways to compromise your system. Malicious or not, you
    should always assume user input is dangerous in its "raw" form.  The solution to this universal problem is to
    validate input — check that it is the correct type and is of the expected size  — and to sanitize input — make sure
    that valid input cannot harm the system.  The good news is that many common software libraries contain robust and
    time-tested tools to validate and sanitize input, so you only need to know how to use them and how to recognize
    where they should be applied.  Remember: user input is malicious until proven innocent!
  </div>
</app-lab-debrief>


<app-lab-check [questions]="questions">
  <div check customize=SecurityproductQuestion[]>
  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/zhen-hu-Fhz5QhZmn_M-unsplash.jpg">
    <figcaption>
      <a href="https://unsplash.com/@zhenhu2424" target="_blank">
        Photo: Zhen Hu on Unsplash
      </a>
    </figcaption>
  </figure>
</app-lab-check>
