<meta name="viewport" content="width=device-width, initial-scale=1.0">
<app-lab-overview>
  <span title>I can trust people to keep my security interests in mind</span>
  <div intro>
    <p>People who hold this misconception trust that users or other “upstream” data sources will only provide harmless
    input. Users - either purposely or by accident - may provide input that breaks the expected flow of the
    program, because computer programs follow the old adage "garbage in, garbage out." If input is treated as malicious
      “until proven innocent” by validating and sanitizing it before use, dangerous input cannot cause bad outcomes.
      In addition to filtering out malicious input, validation and sanitization ensure the program always behaves
      as intended, which improves the user experience for the good guys.
    </p>
  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/20130326163535-0_0.jpg">
    <figcaption>
      <a href="http://news.mit.edu/2013/how-hard-it-de-anonymize-cellphone-data" target="_blank">
        Photo: Christine Daniloff/MIT
      </a>
    </figcaption>
  </figure>
</app-lab-overview>

<app-lab-industry>
  <div industry>
<!--      Examples of this misconception in the wild.-->

    <h5> Code Injection </h5>
    <p>
      In an old-school attack known as Code Injection, users purposefully paste a block of code into a web form input
      field where a developer would never expect code to exist.  This <a href="https://xkcd.com/327/" target="_blank">
      XKCD comic </a> explores how user input can destroy a database.
      For further reading here is an <a
      href="https://www.explainxkcd.com/wiki/index.php/Little_Bobby_Tables" target="_blank"> explanation</a> of the
      XKCD comic.
    </p>
    <h5> Buffer Overflow </h5>
    <p>
      A buffer overflow attack closely mimics a code injection attack.  In this scenario, a user exploits the limited
      size of memory given to a function.  The very last line of code in a function is the return address, which tells
      the computer where the next executable code exists.  If a user writes a large piece of executable code in a
      buffer, then keeps writing beyond the end of that buffer, they can possibly overwrite the return address.  If
      they rewrite the return address to point to the beginning of their injected code, the computer will execute
      everything the user wrote!  Read more about buffer overflows
      <a href="https://medium.com/@amannagpal4/buffer-overflow-attack-and-its-evolution-519db3c396ad"
         target="_blank">here</a>, or check out <a href="https://www.youtube.com/watch?v=1S0aBV-Waeo" target="_blank">
      Computerphile's video</a> on buffer overflows if you want to see a live demonstration.
    </p>
    <h5> Samy Worm </h5>
    <p>
      Back in the days of MySpace, a 20-year-old named Samy Kamkar launched a successful cross-site scripting attack
      known as the "Samy Worm," which created a pop-up saying "but most of all, Samy is my hero" and automatically sent
      Samy a friend request.  While the vulnerability lay within web browsers, MySpace took most of the heat and
      eventually found a way to patch the bug themselves.  Samy released an explanation of the exploit, which is archived <a
      href="https://web.archive.org/web/20160305044015/http://samy.pl/popular/tech.html" target="_blank">here</a>.
    </p>
  </div>
</app-lab-industry>

<app-lab-activity>
  <div activity>
    <app-bakebot></app-bakebot>
  </div>
</app-lab-activity>

<app-lab-relevance>
  <div relevance>

    <p>
      <a href="http://cve.mitre.org" target="_blank"> Common Vulnerabilities and Exposures CVE </a>
    </p>

  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/jon-moore-bBavss4ZQcA-unsplash.jpg">
    <figcaption>
      <a href="https://unsplash.com/@thejmoore" target="_blank">
        Photo: Jon Moore on Unsplash
      </a>
    </figcaption>
  </figure>
</app-lab-relevance>


<app-lab-check [questions]="questions">
  <div check customize=SecurityproductQuestion[]>
  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/zhen-hu-Fhz5QhZmn_M-unsplash.jpg">
    <figcaption>
      <a href="https://unsplash.com/@zhenhu2424" target="_blank">
        Photo: Zhen Hu on Unsplash
      </a>
    </figcaption>
  </figure>
</app-lab-check>
