<nb-card>
  <nb-card-body>
    <h1>{{message}}</h1>
  </nb-card-body>
</nb-card>

<nb-card style="height: auto">
  <nb-card-body >


    <div class="row">
      <div class="col" style="background-color:white;">
        <h4>Overview</h4>
        <div>

          The misconception is people thinking that since their individual data or information isn’t “valuable” to anyone, no one would want to steal it. In the age of ransomware, people’s data is as valuable to attackers as it is to the victims -- as long as you’ll pay to get it back, your data is a target. Similarly, some people seem to think that data is the only motive for a cyber attack. However, attackers may want to use a computer’s resources, whether it’s processing power for mining cryptocurrency or network bandwidth used for denial of service attacks, a computer’s resources are valuable to attackers. Given these motivations, most people are likely victims of a cyber attack at some point.

        </div>
      </div>
      <div class="col">
        <figure class="figure">
          <img src="../../assets/images/13945792813168.png" style="max-height: 400px" class="img-fluid">
          <figcaption class="figure-caption">

            <p><a href="http://www.publicdomainfiles.com/show_file.php?id=13945792813168">via publicdomainfiles.com (copyright free)</a></p>
          </figcaption>
        </figure>
      </div>
    </div>


  </nb-card-body>
</nb-card>

<p>
  notatarget works!
</p>

<nb-flip-card>
  <nb-card-front>
    <nb-card>
      <nb-card-body>
        Front
      </nb-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card>
      <nb-card-body>
        Back
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-flip-card>
