div.intro {
  /*background-color: red;*/
  width: 100%;
  height: 80%;
  align-content: center;
  text-align: left;
  padding-top: 10%;
  padding-bottom: 10%;
}

.intro-text {
  margin-left: 25%;
  margin-right: 25%;
}

div.scene {
  /*background-color: cornflowerblue;*/
  width: 100%;
  height: 80%;
}

div.button-div {
  padding-top: 10vh;
  text-align: center;
  width: 100%;
}
:target {
  border: 2px cornflowerblue;
}

img.selectorIcon {
  height: 35px;
  width: auto;
  margin-right: 1em;
}
