<app-lab-overview>
  <span title>I am not a target of cyberattacks</span>
  <div intro>
    <p>
      What is your data worth to you? Think about the files on your computer right now. Do you have a file with valuable
      corporate secrets? Probably not, and a hacker probably assumes that. A hacker also knows that your data has value
      to you. How much would you pay to get back that folder of vacation pictures? What about that semester-long
      project? How much would you pay someone to get back your fifteen-page paper due tomorrow? Cyber criminals know
      that if the price is right, you would probably pay something to get this chunk of your life back. But why wouldn't
      they attack some large corporation that would pay millions in ransom? Massive organizations have a lot to lose,
      so they hire security professionals to construct complex systems that deter attacks and mitigate damage. You,
      however, probably don’t have more than a simple antivirus software installed (if any). More importantly, a hacker
      probably doesn’t know who they’re attacking. Attacks are frequently just automated processes moving throughout the
      web, infecting machines as they are discovered. An automated process that attacks machines is known as a <i>bot</i>,
      and the collection of infected machines is called a <i>botnet</i>. </p>
    <p>
      A hacked computer can provide multiple kinds of worth to cyber criminals. They could encrypt all of the computer’s
      data and hope the user pays a ransom, or they could pool the resources of a botnet to complete larger tasks.
      Malicious cryptomining, more frequently called “cryptojacking,” is any mining operation happening without the
      machine owner’s consent. Though we typically think that cryptomining requires massive computing rigs, it can
      easily be distributed among many smaller machines working in unison. A DDoS attack works best with many machines
      working in unison, but more importantly, the machines must be spread out across a large geographic area and
      connected to multiple higher-tier network services. A botnet’s power to launch a DDoS attack lies in the bandwidth
      of each device’s internet connection, not the speed of the device’s CPU. Yes, your device is valuable to a hacker,
      and yes, you are a potential target. </p>
    <p>
      The solution to this misconception is to view everything connected to the internet as a “hackable” specimen.
      Always change default passwords on IoT devices, and remember to regularly install security updates. For maximum
      protection against ransomware, keep backups of your data on flash drives or other media that is not connected to
      your computer. Hackers want control of your devices, no matter how small and unexciting they may seem.
    </p>
  </div>
  <figure headerImage>
    <app-image-enlarge [source]="'assets/images/not-a-target/sodinokibi.png'"></app-image-enlarge>
    <figcaption>
      If you ever see this screen, you're in big trouble
    </figcaption>
  </figure>
</app-lab-overview>

<app-lab-industry>
  <div industry>
    <h5>Mirai botnet</h5>
    <p>
      On October 21, 2016, the internet went down in most of the east coast of the US.  It was later revealed that
      someone was performing a DDoS attack against a large internet provider <a href="notatarget#ref1">[1]</a>.  To perform a DDoS attack, a hacker
      needs control of many, many machines that are spread out over a wide area of the web.  The hacker then directs their
      army of machines to send massive amounts of traffic to a server, overwhelming it and preventing it from sending
      outbound communication.  All the machines in this army were IoT devices, which frequently have minimal security.
      Some mischievous teenagers coded a program that automatically scanned the web for IoT devices, then tested common
      default usernames and passwords for those devices.  Since many people are too lazy to change these passwords, the
      teenagers gained control of plenty of small workers capable of taking down a behemoth of a corporation
      <a href="notatarget#ref2">[2]</a>.  Though the attack against Dyn gained the most press, the Mirai botnet
      executed multiple attacks over its lifetime, including attacks against Runescape, Minecraft servers in Brazil, a
      West African telecom company, and a Russian cooking blog <a href="notatarget#ref3">[3]</a>.
    </p>
    <h5>Coinhive</h5>
    <p>
      In 2017, the internet service Coinhive was created as a way to mine the cryptocurrency Monero in the background of
      a web browser using Javascript.  If this sounds sketchy, it’s because it’s very sketchy.  Unlike Bitcoin, Monero
      transactions are kept private, making it even more attractive for cyber criminals
      <a href="notatarget#ref4">[4]</a>. Coinhive was a way for
      cyber criminals to generate dark money from the beginning; there’s no need to launder currency when it was
      generated in the dark.  Ad blockers learned to detect and halt cryptojacking code, dealing a serious blow to
      Coinhive.  Eventually, the value of Monero plummeted, and in 2019, Coinhive officially shut down
      <a href="notatarget#ref5">[5]</a>.
    </p>
    <h5>IdleBuddy</h5>
    <p>
      Cryptojacking can also occur as a local process, not just a web browser problem.  A mysterious example of
      cryptojacking malware is IdleBuddy <a href="notatarget#ref6">[6]</a>, listed as a product of “Ingenering Group
      Inc.” This Windows trojan masqueraded as a benevolent process by claiming it “securely allows you to donate the
      time your computer is not in use to calculate complex equations and solve problems”
      <a href="notatarget#ref7">[7]</a>.  It appears unknown as to which cryptocurrency it was mining, but it is
      definitely a dangerous piece of malware.  It will resist any normal attempts to uninstall it, but it can be
      removed with any reputable, up-to-date antivirus software.
    </p>
    <h5>WannaCry</h5>
    <p>
      A ransomware also known as Wanna Crypt or Decrypt0r 2.0, WannaCry began attacking Windows machines worldwide in May 2017.  This
      ransomware gained access to machines with an exploit named EternalBlue, discovered by the National Security Agency
      and leaked to a malicious hacker group called the Shadow Brokers <a href="notatarget#ref9">[9]</a>.  Once it had
      access, it installed and executed using DoublePulsar, another exploit created by NSA.
      Microsoft had actually already released patches for EternalBlue months earlier, meaning all victims were people
      who hadn't installed security updates or were running versions of Windows beyond their end-of-life.  Because of
      the severity of this attack, Microsoft quickly released patches for out-of-date products, including Windows XP and
      Windows Server 2003 <a href="notatarget#ref10">[10]</a>.
    </p>
    <p>
      Among the victims was the NHS in the United Kingdom, which paid more than $100 million to recover.  But this
      computer worm didn't just attack large organizations; many people had their personal computers compromised, any
      many paid the ransom.  By mid June 2017, <b>victims paid more than $130,000 in ransom</b> <a href="notatarget#ref11">[11]</a>.
      Economists estimate the total economic impact of WannaCry to be more than $4 billion <a href="notatarget#ref12">[12]</a>.
    </p>
    <h5>Sodinokibi: Your worst nightmare</h5>
    <p>
      The year 2020 saw a milestone in ransomware history: your data could now be auctioned off! A malicious hacker group
      called Sodinokibi has set up an auction site on the dark web, where they now publicly auction off victims' decrypted data.
      In the first known auction, the bidding started at $50,000, and anyone could stop the auction early by paying
      $100,000. This new tactic may have been a reaction to the economic downturn of early 2020, when ransomware
      payments plummeted <a href="notatarget#ref13">[13]</a>. Besides increasing the potential payout, auctions provide
      and easy way to publicly shame people who never pay the ransom. To any mischievous readers who would consider
      buying someone else's stolen data: beware. Don't be surprised if a gang of criminals tries to double-cross you!
    </p>
  </div>
</app-lab-industry>

<!-- DDoS SVG: Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
-->
<app-lab-activity>
  <div activity>
  <nb-card-body>
    <p>
      In this activity, you will learn how much power a hacker wields with a botnet.  Select the type of internet
      device, the number of devices connected, and see what your botnet will be capable of doing.
    </p>
    <div class="intro" [hidden]="!welcomeScreen">
      <span style="text-align: center"><h3>Attack Calculator</h3></span>
      <div class="button-div"><button nbButton (click)="nextScreen()">Start</button></div>
    </div>
    <div class="intro" [hidden]="!introScreen">
      <div class="d-flex col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 trans">
        <img src="assets/images/not-a-target/malware.svg" style="padding-right: 1em" height="20%" width="auto">
        <div>
        Your devices, no matter how small and unimportant they may seem, can provide valuable resources to a hacker.
        <br><br>
        A hacker gains power when they assume control of a machine. The more machines the hacker controls, the greater
        the power they wield. So to execute a successful attack, a hacker must build an army of devices to work in a
        coordinated manner.
        <br><br>
        But where does this army come from?
        </div>
      </div>
      <div class="button-div"><button (click)="nextScreen()" nbButton>Next</button></div>
    </div>
    <div class="intro" [hidden]="!intro2">
      <div class="d-flex col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 trans">
        <img src="assets/images/not-a-target/hacker.svg" style="padding-right: 1em" height="20%" width="auto">
        <div>
        To build an army of machines, a hacker will write a program to crawl the web, detect vulnerable devices, and
        attempt to assume control of those devices. This program is called a <i>bot</i>, and the army it controls is
        called its <i>botnet</i>.
        <br><br>
        In this activity, you will see the power of a botnet, and you will see how many vulnerable devices are currently
        connected to the internet.</div>
      </div>
      <div class="button-div"><button (click)="nextScreen()" nbButton>Next</button></div>
    </div>
    <div class="scene" [hidden]="!mainScreen">
      <span style="text-align: center"><h3>Attack Calculator</h3></span>
      <div class="control-status-example">
        <nb-alert status="control" outline="info" ngPreserveWhitespaces>
          {{guidance}}<br>{{shodanMsg}}<br>{{cryptoDirective}}</nb-alert>
      </div>
        <div class="column justify-content-center">
          <nb-select placeholder="Operation" id="operationSelector" [(selected)]="operation">
<!--                     nbPopover="Start by selecting an operation, then select the operation's parameters"-->
<!--                     nbPopoverTrigger="hover">-->
            <nb-option value="crypto">
              <img src="assets/images/not-a-target/bitcoin.svg" class="selectorIcon">Cryptojacking</nb-option>
            <nb-option value="ddos">
              <img src="assets/images/not-a-target/ddos.svg" class="selectorIcon">DDoS</nb-option>
          </nb-select>
          <nb-select *ngIf="operation === 'crypto'" placeholder="Device" id="deviceSelector" [(selected)]="device">
            <nb-option value="yourDevice">Your device</nb-option>
            <nb-option value="laptop">Laptop/Desktop Computer</nb-option>
            <nb-option value="smartphone">Smartphone</nb-option>
          </nb-select>
<!--          All values are in Mbps -->
          <nb-select *ngIf="operation === 'ddos'" placeholder="Bandwidth" id="bwSelector" [(selected)]="bandwidth">
            <nb-option value=-1>Your bandwidth</nb-option>
            <nb-option value=0.00005>Dial-up</nb-option> <!-- assumes 50 Kbps -->
            <nb-option value=0.01>DSL</nb-option> <!-- assumes 10 Mbps -->
            <nb-option value=0.1>5G</nb-option> <!-- assumes 100 Mbps -->
            <nb-option value=10>Fiber Optic</nb-option> <!-- assumes 10 Gbps -->
          </nb-select>
          <nb-select *ngIf="operation === 'crypto'" placeholder="Target" id="targetSelector" [(selected)]="target">
            <nb-option value="bitcoin">Bitcoin</nb-option>
            <nb-option value="monero">Monero</nb-option>
            <nb-option value="ethereum">Ethereum</nb-option>
          </nb-select>
          <nb-select *ngIf="operation === 'ddos' && showAmplify" placeholder="Amplify My Attack!"
                     [nbPopover]="popover" nbPopoverTrigger="hover" id="amplifier" [(selected)]="amplified">
            <ng-template #popover><div class="flex-column d-inline-flex justify-content-center m-2">
<!--              <nb-icon icon="bulb-outline"></nb-icon>-->
              <span>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-diamond" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
                <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
              </svg>
              <a href="https://www.cloudflare.com/learning/ddos/dns-amplification-ddos-attack/"
                 target="_blank"> Learn about amplification</a></span></div>
            </ng-template>
            <nb-option value=1>No amplification</nb-option>
            <nb-option value=600>NTP monlist</nb-option>
            <nb-option value=3>DNS</nb-option>
          </nb-select>
          <button nbButton (click)="updateGraph()"
                  [disabled]="!(operation ==='crypto' && device && target) && !(operation === 'ddos' && bandwidth)">Go!</button>
        </div>
      <app-line-chart *ngIf="chartData" [chartData]="chartData"
                      [realDevices]="realDevices" [chartType]="operation"></app-line-chart>
      <p>
        <br>
        Real-world device numbers are provided by <a href="https://shodan.io" target="_blank">Shodan</a>.
        <br>
        Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

      </p>
    </div>
  </nb-card-body>
  </div>
</app-lab-activity>

<app-lab-relevance>
  <div relevance>
    <p>
      <a href="http://cve.mitre.org" target="_blank"> Common Vulnerabilities and Exposures CVE </a>
      <br>
      <a href="https://shodan.io" target="_blank"> Shodan.io: IoT search engine</a>
      <br>
      <a href="https://horizon.netscout.com/" target="_blank"> Netscout real-time DDoS attack map</a>
    </p>
  </div>
  <figure headerImage>
    <app-image-enlarge [source]="'assets/images/not-a-target/wannacry.png'"></app-image-enlarge>
<!--    <img alt="WannaCry screenshot" src="assets/images/not-a-target/wannacry.png">-->
    <figcaption>
      The infamous WannaCry screen of death.
    </figcaption>
  </figure>
</app-lab-relevance>


<app-lab-check [questions]="questions">
  <div check customize=SecurityproductQuestion[]>
  </div>
  <figure headerImage>
    <app-image-enlarge [source]="'assets/images/13945792813168.png'"></app-image-enlarge>
<!--    <img alt="Target" src="assets/images/13945792813168.png">-->
    <figcaption>
      <a href="http://www.publicdomainfiles.com/show_file.php?id=13945792813168">via publicdomainfiles.com (copyright
        free)</a>
    </figcaption>
  </figure>
</app-lab-check>

<app-lab-refs>
  <div refs>
    <div id="ref1">[1] <a href="https://www.usenix.org/conference/usenixsecurity17/technical-sessions/presentation/antonakakis"
                            target="_blank"> https://www.usenix.org/conference/usenixsecurity17/technical-sessions/presentation/antonakakis</a>
    </div>
    <div id="ref2">[2] <a href="https://www.csoonline.com/article/3258748/the-mirai-botnet-explained-how-teen-scammers-and-cctv-cameras-almost-brought-down-the-internet.html"
                          target="_blank">
        https://www.csoonline.com/article/3258748/the-mirai-botnet-explained-how-teen-scammers-and-cctv-cameras-almost-brought-down-the-internet.html</a>
    </div>
    <div id="ref3">[3] <a href="https://elie.net/blog/security/inside-mirai-the-infamous-iot-botnet-a-retrospective-analysis/" target="_blank">
      https://elie.net/blog/security/inside-mirai-the-infamous-iot-botnet-a-retrospective-analysis/</a>
    </div>
    <div id="ref4">[4] <a href="https://krebsonsecurity.com/2018/03/who-and-what-is-coinhive/" target="_blank">
        https://krebsonsecurity.com/2018/03/who-and-what-is-coinhive/</a>
    </div>
    <div id="ref5">[5] <a href="https://blog.malwarebytes.com/cybercrime/2019/05/cryptojacking-in-the-post-coinhive-era/"
                          target="_blank">https://blog.malwarebytes.com/cybercrime/2019/05/cryptojacking-in-the-post-coinhive-era/</a>
    </div>
    <div id="ref6">[6] <a href="https://malware.wikia.org/wiki/IdleBuddy" target="_blank">
      https://malware.wikia.org/wiki/IdleBuddy</a></div>
    <div id="ref7">[7] <a href="https://howtoremove.guide/how-to-uninstall-idle-buddy-virus/" target="_blank">
      https://howtoremove.guide/how-to-uninstall-idle-buddy-virus/</a>
    </div>
<!--      ref8 is source for 2.3 Tbps attack in 2020 -->
    <div id="ref8">[8] <a href="https://aws-shield-tlr.s3.amazonaws.com/2020-Q1_AWS_Shield_TLR.pdf" target="_blank">
      https://aws-shield-tlr.s3.amazonaws.com/2020-Q1_AWS_Shield_TLR.pdf</a>
    </div>
    <div id="ref9">[9] <a href="https://blog.avast.com/ransomware-that-infected-telefonica-and-nhs-hospitals-is-spreading-aggressively-with-over-50000-attacks-so-far-today" target="_blank">
      https://blog.avast.com/ransomware-that-infected-telefonica-and-nhs-hospitals-is-spreading-aggressively-with-over-50000-attacks-so-far-today</a>
    </div>
    <div id="ref10">[10] <a href="https://www.theregister.com/2017/05/16/microsoft_stockpiling_flaws_too/" target="_blank">
      https://www.theregister.com/2017/05/16/microsoft_stockpiling_flaws_too/</a>
    </div>
    <div id="ref11">[11] <a href="https://qz.com/982993/watch-as-these-bitcoin-wallets-receive-ransomware-payments-from-the-ongoing-cyberattack/"
                            target="_blank">https://qz.com/982993/watch-as-these-bitcoin-wallets-receive-ransomware-payments-from-the-ongoing-cyberattack/</a>
    </div>
    <div id="ref12">[12] <a href="https://www.cbsnews.com/news/wannacry-ransomware-attacks-wannacry-virus-losses/" target="_blank">
      https://www.cbsnews.com/news/wannacry-ransomware-attacks-wannacry-virus-losses/</a></div>
    <div id="ref13">[13] <a href="https://krebsonsecurity.com/2020/06/revil-ransomware-gang-starts-auctioning-victim-data/#more-51868" target="_blank">
        https://krebsonsecurity.com/2020/06/revil-ransomware-gang-starts-auctioning-victim-data/#more-51868</a>
    </div>
  </div>
</app-lab-refs>
