<app-lab-overview>
  <span title>I am not a target of cyberattacks</span>
  <div intro>
    <p>
    The average user frequently thinks that they are not interesting to cyber criminals.  Cyber criminals and bad actors
    know that a college student likely doesn’t have a lot of money in their bank account, and their mid-range laptop
    full of saved homework doesn’t contain any valuable data.  Cyber criminals aren’t going to encrypt your drive with
    ransomware, because there are “bigger fish to fry.”  With so many massive organizations in cyberspace, why would
    anyone want to target you?  The answer lies in economies of scale.
    </p>
    <p>
    Massive organizations have a lot to lose, so they hire security professionals to construct complex systems that
    deter attacks and mitigate damage.  You, however, probably don’t have more than a simple antivirus software
    installed (if any).  That means hackers can spend much less energy hacking many smaller machines like yours, and
    hackers can pool the resources of all those small machines to accomplish major tasks.
    </p>
    <p>
    The major tasks are primarily cryptomining and distributed denial of service (DDoS) attacks.  Malicious
    cryptomining, more frequently called “cryptojacking,” is any mining operation happening without the machine owner’s
    consent.  Though we typically think that cryptomining requires massive computing machines, it can easily be
    distributed among many smaller machines working in unison.  A DDoS attack similarly requires many machines working
    in unison, but more importantly, the machines must be spread out across a large geographic area and connected to
    multiple higher-tier network services.  We call the machines working in unison a “botnet,” and the automated
    program that creates the botnet is called a bot.  Hackers certainly don’t have the time to find thousands of
      disparate machines, so they automate the process entirely.
    </p>
    <p>
    The solution to this misconception is to view everything connected to the internet as a “hackable” specimen.
    Change default passwords on IoT devices, regularly install security updates, and understand that hackers want
    control of your internet devices, no matter how small and unexciting they may be.
    </p>
  </div>
  <figure headerImage>
    <img src="assets/images/13945792813168.png">
    <figcaption>
      <a href="http://www.publicdomainfiles.com/show_file.php?id=13945792813168">via publicdomainfiles.com (copyright
        free)</a>
    </figcaption>
  </figure>
</app-lab-overview>

<app-lab-industry>
  <div industry>
    <h5>Mirai botnet</h5>
    <p>
      On October 21, 2016, the internet went down in most of the east coast of the US.  It was later revealed that
      someone was performing a DDoS attack against a large internet provider <a href="notatarget#ref1">[1]</a>.  To perform a DDoS attack, a hacker
      needs control of many, many machines that are spread out over a wide area of the web.  The hacker then directs their
      army of machines to send massive amounts of traffic to a server, overwhelming it and preventing it from sending
      outbound communication.  All the machines in this army were IoT devices, which frequently have minimal security.
      Some mischievous teenagers coded a program that automatically scanned the web for IoT devices, then tested common
      default usernames and passwords for those devices.  Since many people are too lazy to change these passwords, the
      teenagers gained control of plenty of small workers capable of taking down a behemoth of a corporation
      <a href="notatarget#ref2">[2]</a>.  Though the attack against Dyn gained the most press, the Mirai botnet
      executed multiple attacks over its lifetime, including attacks against Runescape, Minecraft servers in Brazil, a
      West African telecom company, and a Russian cooking blog <a href="notatarget#ref3">[3]</a>.
    </p>
    <h5>Coinhive</h5>
    <p>
      In 2017, the internet service Coinhive was created as a way to mine the cryptocurrency Monero in the background of
      a web browser using Javascript.  If this sounds sketchy, it’s because it’s very sketchy.  Unlike Bitcoin, Monero
      transactions are kept private, making it even more attractive for cyber criminals
      <a href="notatarget#ref4">[4]</a>. Coinhive was a way for
      cyber criminals to generate dark money from the beginning; there’s no need to launder currency when it was
      generated in the dark.  Ad blockers learned to detect and halt cryptojacking code, dealing a serious blow to
      Coinhive.  Eventually, the value of Monero plummeted, and in 2019, Coinhive officially shut down
      <a href="notatarget#ref5">[5]</a>.
    </p>
    <h5>IdleBuddy</h5>
    <p>
      Cryptojacking can also occur as a local process, not just a web browser problem.  A mysterious example of
      cryptojacking malware is IdleBuddy <a href="notatarget#ref6">[6]</a>, listed as a product of “Ingenering Group
      Inc.” This Windows trojan masqueraded as a benevolent process by claiming it “securely allows you to donate the
      time your computer is not in use to calculate complex equations and solve problems”
      <a href="notatarget#ref7">[7]</a>.  It appears unknown as to which cryptocurrency it was mining, but it is
      definitely a dangerous piece of malware.  It will resist any normal attempts to uninstall it, but it can be
      removed with any reputable, up-to-date antivirus software.
    </p>
  </div>
</app-lab-industry>

<!-- DDoS SVG: Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
-->
<app-lab-activity>
  <div activity>
  <nb-card-body style="">
    <p>
      In this activity, you will learn how much power a hacker wields with a botnet.  Select the type of internet
      device, the number of devices connected, and see what your botnet will be capable of doing.
    </p>
    <div class="welcome" [hidden]="!welcomeScreen">
      <h3>Attack Calculator</h3>
      <div style="padding-top: 10%"><button nbButton (click)="begin()">Start</button></div>
    </div>
    <div class="scene" [hidden]="welcomeScreen">
      <span style="text-align: center"><h3>Attack Calculator</h3></span>
      <div class="column">
<!--        <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">-->
<!--          <button>-->
<!--            <label>-->
<!--              <input type="radio" name="options" id="option1" autocomplete="off" checked><h3>Laptop/Desktop Computer</h3>-->
<!--            </label>-->
<!--          </button>-->
<!--          <img src="assets/images/bank.png" width="100px"/><p>what do you think this is?</p>-->
<!--          <label class="btn btn-secondary">-->
<!--            <input type="radio" name="options" id="option2" autocomplete="off"> <h3>Smartphones</h3><p>📱📱📱📱📱📱📱</p>-->
<!--          </label>-->
<!--          <label class="btn btn-secondary">-->
<!--            <input type="radio" name="options" id="option3" autocomplete="off"> <h3>IoT</h3><p>Internet of Shit</p>-->
<!--          </label>-->
<!--        </div>-->
<!--        <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons" style="margin: 0.5em">-->
<!--          <label class="btn btn-secondary active" style="margin: 0.5em">-->
<!--            <input type="radio" name="options" id="laptop" autocomplete="off" checked="checked"><h4>Laptop/Desktop Computer</h4>-->
<!--            <p>what do you think this is?</p>-->
<!--          </label>-->
<!--          <label class="btn btn-secondary" style="margin: 0.5em">-->
<!--            <input type="radio" name="options" id="smartphone" autocomplete="off" checked> <h4>Smartphones</h4>-->
<!--          </label>-->
<!--          <label class="btn btn-secondary" style="margin: 0.5em">-->
<!--            <input type="radio" name="options" id="iot" autocomplete="off" checked> <h4>IoT</h4><p>Internet of Shit</p>-->
<!--          </label>-->
<!--        </div>-->
        <div class="column justify-content-center">
          <nb-select placeholder="Operation" id="operationSelector" [(selected)]="operation">
            <nb-option value="crypto">Cryptojacking</nb-option>
            <nb-option value="ddos">DDoS</nb-option>
          </nb-select>
          <nb-select *ngIf="operation === 'crypto'" placeholder="Device" id="deviceSelector" [(selected)]="device">
            <nb-option value="laptop">Laptop/Desktop Computer</nb-option>
            <nb-option value="smartphone">Smartphone</nb-option>
            <nb-option value="iot">IoT</nb-option>
            <nb-option value="yourDevice">Your device</nb-option>
          </nb-select>
<!--          All values are in Mbps -->
          <nb-select *ngIf="operation === 'ddos'" placeholder="Bandwidth" id="bwSelector" [(selected)]="bandwidth">
            <nb-option value=0.05>Dial-up</nb-option>
            <nb-option value=10>DSL</nb-option>
            <nb-option value=100>5G</nb-option>
            <nb-option value=10000>Fiber Optic</nb-option> <!-- assumes 10 Gbps -->
            <nb-option value=-1>Your bandwidth</nb-option>
          </nb-select>
          <nb-select *ngIf="operation === 'crypto'" placeholder="Target" id="targetSelector" [(selected)]="target">
            <nb-option value="bitcoin">Bitcoin</nb-option>
            <nb-option value="monero">Monero</nb-option>
            <nb-option value="ethereum">Ethereum</nb-option>
<!--            <nb-option value="amonaz">Amonaz.com</nb-option>-->
<!--            <nb-option value="isp">Internet, Co.</nb-option>-->
<!--            <nb-option value="healthcare">Health, Inc.</nb-option>-->
          </nb-select>
          <button nbButton (click)="updateOption()">Go!</button>
        </div>
      </div>
      <app-line-chart *ngIf="chartData" [chartData]="chartData"
                      [realDevices]="realDevices" [chartType]="operation"></app-line-chart>
      <!--    BEGIN GRAPH STUFF-->
<!--      <div echarts class="demo-chart" [options]="chartOption" [merge]="updateOption"></div>-->
    </div>
<!--    TEST CONTENT BELOW ... REMOVE THIS STUPH -->
<!--    <div>Content testing:</div>-->
<!--    <div class="row justify-content-around">-->
<!--      <button nbButton (click)="getHostsCount('Server%3A+SQ-WEBCAM', '')">Get global num webcams</button>-->
<!--      <button nbButton (click)="getHostsCount('scada', '')">Get SCADA systems</button>-->
<!--    </div>-->
<!--    END TEST CONTENT   -->
  </nb-card-body>
  </div>
</app-lab-activity>

<app-lab-relevance>
  <div relevance>

    <p>
      <a href="http://cve.mitre.org" target="_blank"> Common Vulnerabilities and Exposures CVE </a>
      <br>
      <a href="https://shodan.io" target="_blank"> Shodan.io: IoT search engine</a>
      <br>
      <a href="https://horizon.netscout.com/" target="_blank"> Netscout real-time DDoS attack map</a>
    </p>
  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/jon-moore-bBavss4ZQcA-unsplash.jpg">
    <figcaption>
      <a href="https://unsplash.com/@thejmoore" target="_blank">
        Photo: Jon Moore on Unsplash
      </a>
    </figcaption>
  </figure>
</app-lab-relevance>


<app-lab-check [questions]="questions">
  <div check customize=SecurityproductQuestion[]>
  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/zhen-hu-Fhz5QhZmn_M-unsplash.jpg">
    <figcaption>
      <a href="https://unsplash.com/@zhenhu2424" target="_blank">
        Photo: Zhen Hu on Unsplash
      </a>
    </figcaption>
  </figure>
</app-lab-check>

<app-lab-refs>
  <div refs>
    <p>
      <a id="ref1">[1]</a> <a href="https://www.usenix.org/conference/usenixsecurity17/technical-sessions/presentation/antonakakis"
            target="_blank"> https://www.usenix.org/conference/usenixsecurity17/technical-sessions/presentation/antonakakis</a>
      <br>
      <a id="ref2">[2]</a>
      <a href="https://www.csoonline.com/article/3258748/the-mirai-botnet-explained-how-teen-scammers-and-cctv-cameras-almost-brought-down-the-internet.html"
       target="_blank">
        https://www.csoonline.com/article/3258748/the-mirai-botnet-explained-how-teen-scammers-and-cctv-cameras-almost-brought-down-the-internet.html</a>
      <br>
      <a id="ref3">[3]</a>
      <a href="https://elie.net/blog/security/inside-mirai-the-infamous-iot-botnet-a-retrospective-analysis/" target="_blank">
        https://elie.net/blog/security/inside-mirai-the-infamous-iot-botnet-a-retrospective-analysis/
      </a>
      <br>
      <a id="ref4">[4]</a><a href="https://krebsonsecurity.com/2018/03/who-and-what-is-coinhive/" target="_blank">
      https://krebsonsecurity.com/2018/03/who-and-what-is-coinhive/</a>
      <br>
      <a id="ref5">[5]</a><a href="https://blog.malwarebytes.com/cybercrime/2019/05/cryptojacking-in-the-post-coinhive-era/"
        target="_blank">
       https://blog.malwarebytes.com/cybercrime/2019/05/cryptojacking-in-the-post-coinhive-era/</a>
      <br>
      <a id="ref6">[6]</a><a href="https://malware.wikia.org/wiki/IdleBuddy" target="_blank">
      https://malware.wikia.org/wiki/IdleBuddy</a>
      <br>
      <a id="ref7">[7]</a><a href="https://howtoremove.guide/how-to-uninstall-idle-buddy-virus/" target="_blank">
      https://howtoremove.guide/how-to-uninstall-idle-buddy-virus/</a>
    </p>
  </div>
</app-lab-refs>
