<nb-card style="height: auto">
  <nb-card-body >

    <h1>
      Following good password practices is not important.
    </h1>





    <div class="row">
      <div class="col" style="background-color:white;">
        <h4>Overview</h4>
        <div>
          Victims of this misconception don’t follow good password practices. They may not understand why their practices are insecure. For example, they may not understand that password reuse is bad, because if a reused password is leaked, all affected accounts will be vulnerable. They also may not understand what makes a password weak - passwords that would be “hard” for a human to guess may be easy for a machine to guess (whether they are weak to brute-force or to an attack via wordlist). They might never change their passwords, not recognizing that the longer a password is in use, the more likely it will be compromised. They might write passwords down in obvious places, not thinking that anyone would find them (or care to use them). The truth is that following good password practices can help keep accounts safe and are important to follow.

        </div>
      </div>
      <div class="col">
        <img src="../../assets/images/Strong%20physical%20security_Blog.png" class="img-fluid">
      </div>
    </div>


  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
    <nb-stepper #stepper>
      <nb-step [stepControl]="firstForm" label="First step">
        <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()" class="step-container">
          <p class="lorem">
            You are a hacker that is trying to hack into someones bank account to transfer all their money.

            You know the user name of a rich guy.
       Username: igotmoney99</p>
          <p> Try and find his password. </p>
          <div class="input-group">
            <input nbInput type="text" placeholder="Enter his password to continue" class="form-control" formControlName="firstCtrl"
                   [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">
          </div>
          <button nbButton nbStepperNext>next</button>
        </form>
      </nb-step>
      <nb-step [stepControl]="secondForm" label="Second step">
        <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" class="step-container">
          <p class="lorem">
            Pellentesque we gonna chung tortor.
            Sizzle pizzle. Fizzle izzle dolor dapibus fo shizzle mah nizzle fo rizzle, mah home g-dizzle tempus tempor.
            Maurizzle cool nibh owned turpizzle. My shizz fo shizzle tortor.
          </p>
          <div class="input-group">
            <input nbInput type="text" placeholder="Enter favorite movie" class="form-control" formControlName="secondCtrl"
                   [ngClass]="{'form-control-danger': secondForm.invalid && (secondForm.dirty || secondForm.touched)}">
          </div>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>next</button>
        </form>
      </nb-step>
      <nb-step [stepControl]="thirdForm" label="Third step">
        <form [formGroup]="thirdForm" (ngSubmit)="onThirdSubmit()" class="step-container">
          <p class="lorem">
            Things boom shackalack rhoncus yo. In fo shizzle my nizzle gangsta platea dictumst. Check it out pot.
          </p>
          <div class="input-group">
            <input nbInput type="text" placeholder="Enter something" class="form-control" formControlName="thirdCtrl"
                   [ngClass]="{'form-control-danger': thirdForm.invalid && (thirdForm.dirty || thirdForm.touched)}">
          </div>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>Confirm</button>
        </form>
      </nb-step>
      <nb-step [stepControl]="thirdForm" [hidden]="true" label="Third step">
        <div class="step-container">
          <h3>Wizard completed!</h3>
          <button nbButton (click)="stepper.reset()">Try again</button>
        </div>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>



<nb-card>
  <nb-card-body style="display: block; width: 100%; height: 100%;">

    <nb-tabset style="width:auto;">
      <nb-tab style="height:1000px;" tabTitle="SocialMedia">
<!--        <div style=" width:1920px; height:2682px; overflow:scroll; background-image:url(../../assets/images/face.png); top:105px; left:-10px; position:absolute;">-->
<!--          &lt;!&ndash;<img src="../static/images/bank.png" alt="bank" style="left:-10px; position:fixed;">&ndash;&gt;-->
<!--        </div>-->
        <div>
          <iframe src="http://10.1.1.225/login"  height="1000px" width="100%" style="border:none;">
            <p>Your browser does not support iframes.</p>
          </iframe>
        </div>
      </nb-tab>
      <nb-tab style="height:1000px;"tabTitle="www.amashop.com">
        <div>
          <iframe src="https://10.1.1.227"  height="1000px" width="100%" style="border:none;">
            <p>Your browser does not support iframes.</p>
          </iframe>
        </div>
      </nb-tab>
      <nb-tab style="height:1000px;"tabTitle="www.myBank.com">
        <div>
          <iframe src="http://localhost:4200"  height="1000px" width="100%" style="border:none;">
            <p>Your browser does not support iframes.</p>
          </iframe>
        </div>
      </nb-tab>
      <nb-tab style="height:1000px;"tabTitle="www.LeakedPasswords.com">
        <h2>Welcome to Leaked Passwords.</h2>
        <h3>The latest social media password leak!!!</h3>

        <table>
          <tr>
            <th>Username</th>
            <th>Password</th>
          </tr>
          <tr>
            <td>bob0101</td>
            <td>p@ssw0rd</td>
          </tr>
          <tr>
            <td>highlander</td>
            <td>SCOtland01</td>
          </tr>
          <tr>
            <td>princeofwhales</td>
            <td>noSpellCheck</td>
          </tr>
          <tr>
            <td>skater88</td>
            <td>1234567</td>
          </tr>
          <tr>
            <td>hacker78</td>
            <td>kjd&^FGh83</td>
          </tr>
          <tr>
            <td>rockman838</td>
            <td>AcDcIstheBestBand</td>
          </tr>
          <tr>
            <td>pokemonmaster96</td>
            <td>gottocatchthemall</td>
          </tr>
          <tr>
            <td>trekki68</td>
            <td>livelongandprosper</td>
          </tr>
          <tr>
            <td>bassman01</td>
            <td>5string@@</td>
          </tr>
          <tr>
            <td>igotmoney99</td>
            <td>bling$bling$</td>
          </tr>
        </table>
      </nb-tab>
    </nb-tabset>

  </nb-card-body>
</nb-card>
