<nb-layout>
  <nb-layout-header fixed>
    <nb-actions size="medium">
      <nb-action routerLink="home">
        <nb-icon icon="home-outline"></nb-icon>
      </nb-action>
      <nb-action style="font-size: 2rem;">Miscolabs</nb-action>
    </nb-actions>
  </nb-layout-header>
  <nb-sidebar>
    <ng-container *ngIf="menuItems?.length > 0">
      <ul>
        <li *ngFor="let item of menuItems" [class.selected]="item.selected">
          <a [routerLink]="item.link">{{ item.title }}</a>
          <ng-container *ngIf="item.children?.length > 0">
            <ul>
              <li *ngFor="let child of item.children" [class.selected]="item.selected">
                <a [routerLink]="item.link" [fragment]="child.link">{{ child.title }}</a>
              </li>
            </ul>
          </ng-container>
        </li>
      </ul>
    </ng-container>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer>Let's make the world a more secure place, one misconception at a time.</nb-layout-footer>
</nb-layout>
