<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">-->

<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
<!--          <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <h1>En<span class="text-primary">crap</span>ter</h1>-->
<!--        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
<!--          <ul class="navbar-nav">-->
<!--          </ul>-->
<!--          <ul class="navbar-nav ml-md-auto">-->
<!--            <li class="nav-item active">-->
<!--              <a class="nav-link" href="#">Link <span class="sr-only">(current)</span></a>-->
<!--            </li>-->
<!--            <li class="nav-item dropdown">-->
<!--              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"-->
<!--                 data-toggle="dropdown">Dropdown link</a>-->
<!--              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">-->
<!--                <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a-->
<!--                class="dropdown-item" href="#">Something else here</a>-->
<!--                <div class="dropdown-divider">-->
<!--                </div>-->
<!--                <a class="dropdown-item" href="#">Separated link</a>-->
<!--              </div>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </nav>-->
<!--      <div class="row">-->
<!--        <div class="col-md-6">-->
<!--          <div class="form-group">-->
<!--            <textarea class="form-control text-monospace" id="exampleFormControlTextarea1" rows="3"></textarea>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--          <p id="cyphertext">-->
<!--            Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien.-->
<!--            Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit.-->
<!--            Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi-->
<!--            commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus,-->
<!--            id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus.-->
<!--            <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat-->
<!--              ipsum consequat eu.-->
<!--            </small>-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col">-->
<!--          <div class="input-group">-->
<!--            <div ngbDropdown class="d-inline-block">-->
<!--              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>-->
<!--              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">-->
<!--                <button ngbDropdownItem>Action - 1</button>-->
<!--                <button ngbDropdownItem>Another Action</button>-->
<!--                <button ngbDropdownItem>Something else is here</button>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="btn-group-toggle mr-3">-->
<!--              <label class="btn btn-outline-primary" ngbButtonLabel>-->
<!--                Show Frequency Analysis-->
<!--                <input type="checkbox" [(ngModel)]="showGraph"-->
<!--                       [attr.aria-expanded]="!showGraph" aria-controls="collapseExample" ngbButton>-->
<!--              </label>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div [ngbCollapse]="!showGraph" id="frequency-analysis">-->
<!--        <app-freq-graph></app-freq-graph>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<nb-layout>
  <nb-layout-header fixed><h1>Miscolabs</h1></nb-layout-header>
  <nb-sidebar>
    <nb-menu [items]="menuItems"></nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <div class="row">
      <div class="col-6">
        <nb-card>
          <nb-card-header>Message Text</nb-card-header>
          <nb-card-body>
            <textarea></textarea>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-6">
        <nb-card>
          <nb-card-header>Ciphertext</nb-card-header>
          <nb-card-body>Page Content</nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <nb-accordion>
          <nb-accordion-item>
            <nb-accordion-item-header>Letter Frequency Analysis</nb-accordion-item-header>
            <nb-accordion-item-body>
              Item Content
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </div>
    </div>
  </nb-layout-column>
  <nb-layout-footer>Brandon Geraci was here</nb-layout-footer>
</nb-layout>
