<app-lab-overview>
  <span title>My favorite security product is all I need to be safe</span>
  <div intro>
    Some users believe having a certain security product, such as anti-virus software, firewalls, or other security
    solutions makes them secure. Feeling secure, they might participate in risky activities, such as downloading and
    executing software from untrustworthy sources, thinking that their security controls will keep them completely safe.
    In reality, these products are often imperfect and always have to be used as part of a holistic security solution
    consisting of a combination of security defenses, policies, and practices.
  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/20130326163535-0_0.jpg">
    <figcaption>
      <a href="http://news.mit.edu/2013/how-hard-it-de-anonymize-cellphone-data" target="_blank">
        Photo: Christine Daniloff/MIT
      </a>
    </figcaption>
  </figure>
</app-lab-overview>

<p>
  securityproduct works!
</p>
