<app-lab-overview>
  <span title>My favorite security product is all I need to be safe</span>
  <div intro>
    Some users believe having a certain security product, such as anti-virus software, firewalls, or other security
    solutions makes them secure. Feeling secure, they might participate in risky activities, such as downloading and
    executing software from untrustworthy sources, thinking that their security controls will keep them completely safe.
    In reality, these products are often imperfect and always have to be used as part of a holistic security solution
    consisting of a combination of security defenses, policies, and practices.
  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/matthew-henry-fPxOowbR6ls-unsplash.jpg">
    <figcaption>
      <a href="http://unsplash.com/@matthewhenry" target="_blank">
        Photo: Matthew Henry on Unsplash
      </a>
    </figcaption>
  </figure>
</app-lab-overview>

<app-lab-industry>
  <div industry>
    <p>
      Security must go beyond anti virus (AV) software. AV is just one layer of defense that aids in protecting data
      and devices.
    </p>
    <p>
      AV software does not come without flaws. Almost 70% of the organizations, sampled by experienced at least one
      virus attack six months prior to the survey
      administration. Viruses that attacked company workstations on average infected 27% of the machines, took 15 hours
      to identify, and 22 hours to remove.
      <a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.83.715&rep=rep1&type=pdf" target="_blank">
        Source
      </a>
    </p>
    <p>
      According to AusCERT, Australia’s Computer Emergency Response Team, the two most popular and deployed AV
      products fail to prevent 80% of new viruses.
      <a href="http://ledin.cs.sonoma.edu/malware/pdf/ExtraordinaryFailureofAntiVirusTechnology.pdf" target="_blank">
        Source
      </a>
    </p>
  </div>
</app-lab-industry>

<app-lab-activity>
  <div activity>
    <p>1) Investigate your antivirus' success rate.
      If you do not yet have an antivirus yet, research a well known option.</p>
    <p>2) Look up news stories that describe a company's over reliance on anti virus.</p>
    <p>3) Research additional tips you can implement to protect your device and data.</p>
    <p>4) Think about settings on your devices you can change and habits you can change to add a layer of defence. Then
      change them.</p>
  </div>
</app-lab-activity>

<app-lab-relevance>
  <div relevance>

    Antivirus detected and quarantined 8 of the 10 planned-for malware signatures.
    <a href="https://insights.sei.cmu.edu/insider-threat/2018/03/cybersecurity-performance-8-indicators.html"
       target="_blank">
      Source
    </a>

  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/jon-moore-bBavss4ZQcA-unsplash.jpg">
    <figcaption>
      <a href="https://unsplash.com/@thejmoore" target="_blank">
        Photo: Jon Moore on Unsplash
      </a>
    </figcaption>
  </figure>
</app-lab-relevance>


<app-lab-check [questions]="questions">
  <div check customize=SecurityproductQuestion[]>
  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/zhen-hu-Fhz5QhZmn_M-unsplash.jpg">
    <figcaption>
      <a href="https://unsplash.com/@zhenhu2424" target="_blank">
        Photo: Zhen Hu on Unsplash
      </a>
    </figcaption>
  </figure>
</app-lab-check>
