<nb-card>
  <nb-card-body>
    <h1>{{message}}</h1>
  </nb-card-body>
</nb-card>

<nb-card style="height: auto">
  <nb-card-body >

    <div class="row">
      <div class="col" style="background-color:white;">
        <h4>Overview</h4>
        <div>
          Some users believe having a certain security product, such as anti-virus software, firewalls, or other security solutions makes them secure. Feeling secure, they might participate in risky activities, such as downloading and executing software from untrustworthy sources, thinking that their security controls will keep them completely safe. In reality, these products are often imperfect and always have to be used as part of a holistic security solution consisting of a combination of security defenses, policies, and practices.
        </div>
      </div>
      <div class="col">
        <img src="../../assets/images/Strong%20physical%20security_Blog.png" class="img-fluid">
      </div>
    </div>


  </nb-card-body>
</nb-card>

<p>
  securityproduct works!
</p>
