<nb-card>
  <nb-card-body>
    <h1>{{message}}</h1>
  </nb-card-body>
</nb-card>

<nb-card style="height: auto">
  <nb-card-body >

    <div class="row">
      <div class="col" style="background-color:white;">
        <h4>Overview</h4>
        <div>
          This misconception is people making assumptions about themselves or others, such as “I won’t fall victim to X scam or social engineering attack”. People also make these assumptions when designing security policies, assuming people will act rationally, expertly and/or according to policy. Among other factors, inconvenience, time pressure, or authority structures can cause people to circumvent or disobey security policies. People might decide not to verify something and just assume it’s OK, either because it’s inconvenient to verify or because their attention is drawn elsewhere. In contrast, a realistic view of the limitations, weaknesses, and pressures facing ourselves and others is critical for building security mechanisms and policies that work in reality.
        </div>
      </div>
      <div class="col">
        <img src="../../assets/images/Strong%20physical%20security_Blog.png" class="img-fluid">
      </div>
    </div>


  </nb-card-body>
</nb-card>

<p>
  humansarerational works!
</p>
