<div class="row p-0 justify-content-around align-items-center">
  <div class="col-4 m-auto d-md-block d-sm-none">
    <img alt="University of Minnesota Duluth Logo" class="img-fluid"
         src="assets/images/UMD-DrivenToDiscover_Horz_Maroon_C.svg">
  </div>
  <div class="col-4 m-auto">
    This material is based upon work supported by the National Science Foundation under <a
    href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1821788" target="_blank">Grant No. 1821788</a>. Any
    opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and
    do not necessarily reflect the views of the National Science Foundation.
  </div>
  <div class="col-2 m-auto">
    <ul class="footer-links">
      <li class="footer-item align-middle">
        <nb-icon class="footer-icon" icon="github" pack="font-awesome-brands"></nb-icon>
        <a class="footer-label" href="https://github.com/UMDLARS/misconceptions-lab-ui" target="_blank">
          View source on GitHub
        </a>
      </li>
      <li class="footer-item">
        <a class="footer-label" href="https://lars.d.umn.edu/">Developed by UMD LARS</a>
      </li>
    </ul>
  </div>
</div>
