.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-item {
  line-height: 2.5rem;
}

.footer-icon {
  vertical-align: middle;
  font-size: 2rem;
}

.footer-label {
  vertical-align: middle;
}
