<app-lab-overview>
  <span title>Encryption automatically provides integrity and authenticity</span>
  <div intro>
    People who hold this misconception believe that encryption automatically provides integrity or authenticity along
    with confidentiality, while this is not always the case. Symmetric encryption algorithms used for confidentiality,
    such as AES, do provide integrity or authenticity in their most basic modes of operation. Authenticity is not
    provided because anyone with the AES key (which must be shared by its very nature) can send an encrypted message,
    and you cannot verify who sent it. Integrity is not provided because a message’s ciphertext can be modified in
    transit; decrypting itt will result in data being produced which is not the plaintext, but no mechanism will
    identify this change. Instead, people needing authenticity and/or integrity should use cryptography designed for
    this purpose.
  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/20130326163535-0_0.jpg">
    <figcaption>
      <a href="http://news.mit.edu/2013/how-hard-it-de-anonymize-cellphone-data" target="_blank">
        Photo: Christine Daniloff/MIT
      </a>
    </figcaption>
  </figure>
</app-lab-overview>

<app-lab-industry>
  <div industry>
    <p>
      Example of the consequences of not pairing encryption with other kinds of security.
    </p>
  </div>
</app-lab-industry>

<app-lab-activity>
  <div activity>
    <p>1) Look up news stories relating to the follies of over-trusting encryption.</p>
    <p>2) Research additional tips you can implement encryption along with other forms of defense.</p>
  </div>
</app-lab-activity>

<app-hmac-exercise></app-hmac-exercise>

<app-lab-relevance>
  <div relevance>

    <p>
      <a href="http://cve.mitre.org" target="_blank"> Common Vulnerabilities and Exposures CVE </a>
    </p>

  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/jon-moore-bBavss4ZQcA-unsplash.jpg">
    <figcaption>
      <a href="https://unsplash.com/@thejmoore" target="_blank">
        Photo: Jon Moore on Unsplash
      </a>
    </figcaption>
  </figure>
</app-lab-relevance>


<app-lab-check [questions]="questions">
  <div check customize=SecurityproductQuestion[]>
  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/zhen-hu-Fhz5QhZmn_M-unsplash.jpg">
    <figcaption>
      <a href="https://unsplash.com/@zhenhu2424" target="_blank">
        Photo: Zhen Hu on Unsplash
      </a>
    </figcaption>
  </figure>
</app-lab-check>
