<nb-card style="height: auto">
  <nb-card-body >

    <h1>
      Physical security isn't as important as non-physical / technical security.
    </h1>





    <div class="row">
      <div class="col" style="background-color:white;">
        <h4>Column 1</h4>
        <div>
          People often view security as a software problem with software solutions. Physical security issues cannot be
          entirely solved by software -- they commonly require physical solutions (e.g., armed guards, locks, and tamper-resistant hardware).
          People who hold this misconception view physical security as less important than its software counterparts. As a result of this belief,
          they also believe that physical security breaches are less severe than software-based ones, but this is also untrue. Many software-based
          security solutions depend at least partially on physical security and can in many cases be bypassed with physical access. For example, password
          protections can often be circumvented by taking the hard drive out of computer and mounting it under a different OS, communication media can be
          compromised by installing a keylogger or network sniffer, and keys and passwords can be acquired from individuals through threats or physical force.
        </div>
      </div>
      <div class="col">
        <img src="../../assets/images/Strong%20physical%20security_Blog.png" class="img-fluid">
      </div>
    </div>


  </nb-card-body>
</nb-card>

<p>
  completelyanonymous works!
</p>
