<nb-card style="height: auto">
  <nb-card-body >

    <h1>
      You can be completely anonymous on the internet by using privacy software and practices.
    </h1>





    <div class="row">
      <div class="col" style="background-color:white;">
        <h4>Overview</h4>
        <div>
          People holding this misconception put too much faith in the ability of privacy tools, and often do not understand their fundamental limitations. In reality, while these tools can increase your level of privacy, there is no way to be certain that you are anonymous on the internet.
        </div>
      </div>
      <figure class="figure">
        <img src="../../assets/images/Tor-logo-2011-flat.svg.png" style="max-height: 300px" class="img-fluid">
        <figcaption class="figure-caption">

        </figcaption>
      </figure>
    </div>


  </nb-card-body>
</nb-card>

<p>
  completelyanonymous works!
</p>
