<nb-card>
  <nb-card-header>Can we run a couple tests on your device?</nb-card-header>
  <nb-card-body>
    <p>{{prompt}}</p>
    <span id="hashspan" *ngIf="hashTesting">Performing hash test...<div class="spinner-border"></div></span>
    <br>
    <span id="bwspan" *ngIf="bwTesting">Performing bandwidth test<div class="spinner-border"></div></span>
    <nb-progress-bar [value]="percentDone" *ngIf="hashTesting || bwTesting"></nb-progress-bar>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="success" (click)="test(true)">Run the tests!</button>
    <button nbButton status="danger" (click)="test(false)">Maybe later</button>
  </nb-card-footer>
</nb-card>
<!--  maybe include a cancel button in footer? -->
