<nb-card class="d-flex col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 justify-content-center">
  <nb-card-header>Can we run a couple tests on your device?</nb-card-header>
  <nb-card-body>
    <p>
      Testing your system will take 1-2 minutes. By making some timed small data transfers and testing your CPU (which
      uses battery), we will see how fast your computer can compute hashes used for mining cryptocurrency and test your
      bandwidth. If you prefer to not test your own device, you can choose from a few standard example devices later in
      the exercise.
    </p>
    <span id="hashspan" *ngIf="hashTesting">Performing hash test...<div class="spinner-border spinner-border-sm"></div></span>
    <br>
    <span id="bwspan" *ngIf="bwTesting">Performing bandwidth test...<div class="spinner-border spinner-border-sm"></div></span>
    <nb-progress-bar [value]="percentDone" *ngIf="hashTesting || bwTesting"></nb-progress-bar>
  </nb-card-body>
  <nb-card-footer>
    <div style="padding: 1em">
      <button nbButton status="success" style="margin: 1em"
              (click)="test()" *ngIf="!bwTesting && !hashTesting">Run the tests!</button>
      <button nbButton status="danger" style="margin: 1em" (click)="cancel()">{{cancelMsg}}</button>
    </div>
  </nb-card-footer>
</nb-card>
