<app-lab-overview>
  <span title>I have nothing to hide, so privacy isn’t important to me</span>
  <div intro>
    What people who suffer this misconception fail to realize is that by giving up the right to privacy now, they are
    surrendering that right in the future, if they ever need or want it. They may also fail to realize that, by
    devaluing their own privacy, they may be making it harder for others to keep theirs. Individuals often do have
    information they would like to keep private, although they might not think about it or be aware of it. Data can also
    be in a different form than users typically identify with as personal information, such as values, interests, and
    other indirect information. Users fail to realize the importance of indirect personal information, which can be used
    to target advertising at them without their explicit consent.
  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/20130326163535-0_0.jpg">
    <figcaption>
      <a href="http://news.mit.edu/2013/how-hard-it-de-anonymize-cellphone-data" target="_blank">
        Photo: Christine Daniloff/MIT
      </a>
    </figcaption>
  </figure>
</app-lab-overview>

<app-lab-industry>
  <div industry>
    <p>
      Example of data breaches and impacts.
    </p>
  </div>
</app-lab-industry>

<app-lab-activity>
  <div activity>
    <p>1) Look up news stories about breaches and how they could have been prevented.</p>
    <p>2) Change your passwords for online profiles and make sure that they are each unique and not stored in a
      vulnerable manner.</p>
  </div>
</app-lab-activity>

<app-lab-relevance>
  <div relevance>

    <p>
      <a href="http://cve.mitre.org" target="_blank"> Common Vulnerabilities and Exposures CVE </a>
    </p>

  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/jon-moore-bBavss4ZQcA-unsplash.jpg">
    <figcaption>
      <a href="https://unsplash.com/@thejmoore" target="_blank">
        Photo: Jon Moore on Unsplash
      </a>
    </figcaption>
  </figure>
</app-lab-relevance>


<app-lab-check [questions]="questions">
  <div check customize=SecurityproductQuestion[]>
  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/zhen-hu-Fhz5QhZmn_M-unsplash.jpg">
    <figcaption>
      <a href="https://unsplash.com/@zhenhu2424" target="_blank">
        Photo: Zhen Hu on Unsplash
      </a>
    </figcaption>
  </figure>
</app-lab-check>
