<app-lab-overview>
  <span title>I have nothing to hide, so privacy isn’t important to me</span>
  <div intro>
    What people who suffer this misconception fail to realize is that by giving up the right to privacy now, they are
    surrendering that right in the future, if they ever need or want it. They may also fail to realize that, by
    devaluing their own privacy, they may be making it harder for others to keep theirs. Individuals often do have
    information they would like to keep private, although they might not think about it or be aware of it. Data can also
    be in a different form than users typically identify with as personal information, such as values, interests, and
    other indirect information. Users fail to realize the importance of indirect personal information, which can be used
    to target advertising at them without their explicit consent.
  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/20130326163535-0_0.jpg">
    <figcaption>
      <a href="http://news.mit.edu/2013/how-hard-it-de-anonymize-cellphone-data" target="_blank">
        Photo: Christine Daniloff/MIT
      </a>
    </figcaption>
  </figure>
</app-lab-overview>

<p>
  privacy-not-important works!
</p>
