<div class="container-fluid">
  <div class="row">
    <img src="assets/images/hmac-exercise/crypto-bot.svg" width="100%">
  </div>
  <div class="row">
    <div class="col-auto">
      <label>Requested speed</label><br>
      <input type="number" nbInput [(ngModel)]="plainText" (ngModelChange)="updateCipherText()"/>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <span *ngFor="let bit of this.transformMask; let i = index;">
          <button (click)="this.checkboxChanged(i)" [class.flipped-bit]="bit.checked" class="m-0"
                  name="{{bit.value}}">{{this.binaryCipherText[i]}}</button>
        </span>
    </div>
    <div class="col-2 d-flex flex-column align-items-center">
      <label class="align-self-start">Received speed</label><br>
      <span class="text-monospace">{{this.decryptedText}}</span><br>
      <button [status]="hmacValid ? 'success' : 'danger'" fullWidth nbButton outline>
        <span *ngIf="hmacValid">HMAC Valid</span>
        <span *ngIf="!hmacValid">HMAC Invalid</span>
        <nb-icon class="moreInfo" icon="question-circle"></nb-icon>
      </button>
    </div>
  </div>
</div>
