<nb-card>
  <nb-card-header>
    About this project
  </nb-card-header>
  <nb-card-body>
    The goal of this project is to develop a series of active learning exercises, that use videos, and hands-on
    exercises, to address these misconceptions. The learning modules will be validated in the classroom, and then
    published using an open source license.
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>Welcome to the magic web thingy</nb-card-header>
  <nb-card-body>I really mean it! Click on the menu to the left, and the URL changes! It's magic!</nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    <markdown ngPreserveWhitespaces>
      # H1
      ## H2
      ### H3
      #### H4
      ##### H5
      ###### H6
    </markdown>
  </nb-card-header>
  <nb-card-body>
    <markdown ngPreserveWhitespaces>

      ```preformatted```

          quote

      Body, **bold** _italic_ markdown text!
    </markdown>
  </nb-card-body>
</nb-card>
