<app-lab-overview>
  <span title>The software I use is secure, since the developers designed it with security in mind</span>
  <div intro>
    People who hold this misconception put too much faith in software producers, assuming that those producers thought
    about security and did a good job building it into their product. Unfortunately, software is not always designed
    with security in mind, due to developers’ lack of security awareness, ability, economic constraints, or other
    reasons. Additionally, developers might have carefully considered security, but simply made mistakes in the design
    or implementation phase. Or, they might have done a good job, but other conditions change resulting in security
    vulnerabilities (e.g., Meltdown). Novice software developers might even have this misconception about their own
    software, because they tried to create it to be secure. Whatever the reason, it is always a mistake to assume that
    software is secure.
  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/20130326163535-0_0.jpg">
    <figcaption>
      <a href="http://news.mit.edu/2013/how-hard-it-de-anonymize-cellphone-data" target="_blank">
        Photo: Christine Daniloff/MIT
      </a>
    </figcaption>
  </figure>
</app-lab-overview>


<p>
  securityinmind works!
</p>
