<nb-card style="height: auto">
  <nb-card-body >

    <h1>
      The software I use is secure, since the developers designed it with security in mind.
    </h1>





    <div class="row">
      <div class="col" style="background-color:white;">
        <h4>Overview</h4>
        <div>
          People who hold this misconception put too much faith in software producers, assuming that those producers thought about security and did a good job building it into their product. Unfortunately, software is not always designed with security in mind, due to developers’ lack of security awareness, ability, economic constraints, or other reasons. Additionally, developers might have carefully considered security, but simply made mistakes in the design or implementation phase. Or, they might have done a good job, but other conditions change resulting in security vulnerabilities (e.g., Meltdown).  Novice software developers might even have this misconception about their own software, because they tried to create it to be secure. Whatever the reason, it is always a mistake to assume that software is secure.
        </div>
      </div>
      <div class="col">
        <img src="../../assets/images/Strong%20physical%20security_Blog.png" class="img-fluid">
      </div>
    </div>


  </nb-card-body>
</nb-card>


<p>
  securityinmind works!
</p>
