<app-lab-overview>
  <span title>As long as I'm using encryption, my data is secure</span>
  <div intro>
    This misconception is the belief that data is secure as long as encryption is being used. However, it fails to
    consider the limitations of encryption. For instance, data may be encrypted in transit but not while “at rest” (on
    storage media). It might not be clear to individuals how encryption schemes can be circumvented - for example,
    assuming that https is always secure, or that traffic is always secure when connected to a VPN. People who hold this
    misconception may also believe that cryptography does things it simply doesn’t, like guarantee data integrity or
    authenticity. They might also fail to recognize that while encryption may hide the content of messages, in many
    cases it does not hide metadata about the communication or other externally-visible properties, such as the length
    of the message, the time between messages, and so on.
  </div>
  <figure headerImage>
    <img alt="Anonymized data header image" src="assets/images/cyber-security-1515836154wzI.jpg">
    <figcaption>
      <a href="https://www.publicdomainpictures.net/en/view-image.php?image=240425&picture=cyber-security">via
        publicdomainpictures.net (copyright-free)</a>
    </figcaption>
  </figure>
</app-lab-overview>

<nb-card>
  <nb-card-body>
    <h3 style="position: center">The Lab</h3>
    <br><br>

    <div class="row">
      <div class="col-6">
        <nb-card>
          <nb-card-header>Message Text</nb-card-header>
          <nb-card-body>
        <textarea class="text-monospace" nbInput fullWidth [(ngModel)]="plaintext" (ngModelChange)="updateCiphertext()"
                  style="resize: none;"></textarea>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-6">
        <nb-card>
          <nb-card-header>Ciphertext</nb-card-header>
          <nb-card-body>
            <label>
              <select class="select-button" [(ngModel)]="selectedCipher" (ngModelChange)="updateCiphertext()">
                <option *ngFor="let cipher of ciphers">{{cipher}}</option>
              </select>
            </label>
            <textarea disabled class="text-monospace" nbInput fullWidth [(ngModel)]="ciphertext"
                      style="resize: none;"></textarea>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <nb-accordion>
          <nb-accordion-item>
            <nb-accordion-item-header>Letter Frequency Analysis</nb-accordion-item-header>
            <nb-accordion-item-body>
              <div class="row">
                <div class="col-6">
                  <nb-card>
                    <nb-card-header>Message Text</nb-card-header>
                    <nb-card-body>
                      <table class="table">
                        <thead>
                        <tr>
                          <th scope="col">Letter</th>
                          <th scope="col">Frequency</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let char of plainTable" [attr.bgcolor]="getColor(char[1], maxcipher)">
                          <td scope="row">{{char[0]}}</td>
                          <td>{{char[1]}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </nb-card-body>
                  </nb-card>
                </div>
                <div class="col-6">
                  <nb-card>
                    <nb-card-header>Cipher Text</nb-card-header>
                    <nb-card-body>
                      <table class="table">
                        <thead>
                        <tr>
                          <th scope="col">Letter</th>
                          <th scope="col">Frequency</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let char of cipherTable" [attr.bgcolor]="getColor(char[1], maxcipher)">
                          <td scope="row">{{char[0]}}</td>
                          <td>{{char[1]}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </nb-card-body>
                  </nb-card>
                </div>

              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </div>

      <div class="sticky">
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#test1">Introduction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#test2">Lab Exercise</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#test3">Extra</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#test4">Sources</a>
            </li>
          </ul>

        </nav>

      </div>
    </div>
  </nb-card-body>
</nb-card>

