<nb-card style="height: auto">
  <nb-card-body >

    <h1>
      Physical security isn't as important as non-physical / technical security.
    </h1>





    <div class="row">
      <div class="col" style="background-color:white;">
        <h4>Column 1</h4>
        <div>
          People often view security as a software problem with software solutions. Physical security issues cannot be
          entirely solved by software -- they commonly require physical solutions (e.g., armed guards, locks, and tamper-resistant hardware).
          People who hold this misconception view physical security as less important than its software counterparts. As a result of this belief,
          they also believe that physical security breaches are less severe than software-based ones, but this is also untrue. Many software-based
          security solutions depend at least partially on physical security and can in many cases be bypassed with physical access. For example, password
          protections can often be circumvented by taking the hard drive out of computer and mounting it under a different OS, communication media can be
          compromised by installing a keylogger or network sniffer, and keys and passwords can be acquired from individuals through threats or physical force.
        </div>
      </div>
      <div class="col">
        <img src="../../assets/images/Strong%20physical%20security_Blog.png" class="img-fluid">
      </div>
    </div>


  </nb-card-body>
</nb-card>

<div class="row">
  <div class="col-6">
    <nb-card>
      <nb-card-header>Message Text</nb-card-header>
      <nb-card-body>
        <textarea class="text-monospace" nbInput fullWidth [(ngModel)]="plaintext" (ngModelChange)="updateCiphertext()"
                  style="resize: none;"></textarea>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-6">
    <nb-card>
      <nb-card-header>Ciphertext</nb-card-header>
      <nb-card-body>
        <label>
          <select class="select-button" [(ngModel)]="selectedCipher" (ngModelChange)="updateCiphertext()">
            <option *ngFor="let cipher of ciphers">{{cipher}}</option>
          </select>
        </label>
        <textarea disabled class="text-monospace" nbInput fullWidth [(ngModel)]="ciphertext"
                  style="resize: none;"></textarea>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header>Letter Frequency Analysis</nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="row">
            <div class="col-6">
              <nb-card>
                <nb-card-header>Message Text</nb-card-header>
                <nb-card-body>
                  <table class="table">
                    <thead>
                    <tr>
                      <th scope="col">Letter</th>
                      <th scope="col">Frequency</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let char of plainTable">
                      <td scope="row">{{char[0]}}</td>
                      <td>{{char[1]}}</td>
                    </tr>
                    </tbody>
                  </table>
                </nb-card-body>
              </nb-card>
            </div>
            <div class="col-6">
              <nb-card>
                <nb-card-header>Cipher Text</nb-card-header>
                <nb-card-body>
                  <table class="table">
                    <thead>
                    <tr>
                      <th scope="col">Letter</th>
                      <th scope="col">Frequency</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let char of cipherTable">
                      <td scope="row">{{char[0]}}</td>
                      <td>{{char[1]}}</td>
                    </tr>
                    </tbody>
                  </table>
                </nb-card-body>
              </nb-card>
            </div>

          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>
